.backToTop {
  position: fixed;
  right: 1.25vw;
  bottom: 40px;
  font-size: 2rem;
  z-index: 1;
  cursor: pointer;
  background: rgba(255,255,255, .9);
  color: rgb(58, 58, 58);
  font-size: 18px;
  font-style: bolder;
  padding: 1rem;
  border-radius: 7.5px;
  border-color: transparent;
  box-shadow: 0 4px 6px rgb(32 33 36 / 38%);
}
