.movieItem {
  height: 375px;
  background: rgb(255, 255, 255, 0.75);
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: 3.5%;
  box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
}
.movieItem h1 {
  font-size: 24px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  max-width: 375px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.image {
  width: 375px;
  height: 275px;
  border-radius: 10px;
}