.App {
  text-align: center;
}
input {
  margin-top: 33vh;
  width: 100vw;
  max-width: 405px;
  padding: 10px;
  height: 1.5rem;
  font-size: 1.25rem;
  border: .1px solid lightgrey;
  border-radius: 7.5px;
  margin-bottom: 3rem;
}
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
